* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gradient-color: linear-gradient(
        90deg,
        hsl(284, 58%, 32%) 1.18%,
        hsl(284, 69%, 49%) 100%
    );
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: calc(.5em + .5vw);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    color: beige;
    background-image: var(--gradient-color);
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 1em;
}

header a {
    text-decoration: none;
    font-size: larger;
    color: beige;
    transition: 0.3s ease-in-out;
}

header a:hover {
    color: hsl(284, 58%, 32%);
}

@media (max-width:500px) {

    .logo {
        width: 80%;
        margin: auto;
    }

    .header-cred {
        display: none;
    }
}